<div id="header">
  <%= link_to 'Home', root_path, class: 'header_link' %>
  <%= link_to 'other stuff', root_path, class: 'header_link' %>
  <%= link_to 'other stuff', root_path, class: 'header_link' %>
  <%= link_to 'other stuff', root_path, class: 'header_link' %>
  <div id="header_acct_mgmt">
    <%= link_to 'Settings', root_path, class: 'header_mgmt_link', id: 'settings_link' %>
    <%= link_to 'Logout', root_path, class: 'header_mgmt_link,', id: 'logout_link' %>
  </div>
</div>
